<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <properties resource="mybatis-generator-jdbc.properties"/>
    <!-- jdbc 驱动所在位置-->
    <classPathEntry location="/Users/panxiwen/mysql-connector-java-5.1.43.jar"/>

    <context id="context" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <jdbcConnection
                userId="${jdbc.username}"
                password=""
                driverClass="${jdbc.driverClass}"
                connectionURL="${jdbc.url}"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.pan.panspringboot.domain" targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="com.pan.panspringboot.resposity" targetProject="src/main/java">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <javaClientGenerator targetPackage="mappers" type="XMLMAPPER" targetProject="src/main/resources">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <table schema="datainsight" tableName="di_user" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" enableUpdateByExample="false"/>
    </context>
</generatorConfiguration>